# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore specific files
frontend/node_modules/
blockvest-backend/node_modules

# Ignore all log files
*.log



.codegpt